<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guxingyuan.cloud.mapper.EmpMapper">
  <resultMap id="BaseResultMap" type="com.guxingyuan.cloud.entity.Emp">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from emp
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.guxingyuan.cloud.entity.Emp">
    insert into emp (id, username)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.guxingyuan.cloud.entity.Emp">
    update emp
    set username = #{username,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username
    from emp
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username
    from emp
  </select>
</mapper>