<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guxingyuan.cloud.mapper.TStudentMapper">
  <resultMap id="BaseResultMap" type="com.guxingyuan.cloud.entity.TStudent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guxingyuan.cloud.entity.TStudent">
    insert into t_student (id, age, student_name
      )
    values (#{id,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{studentName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.guxingyuan.cloud.entity.TStudent">
    update t_student
    set age = #{age,jdbcType=INTEGER},
      student_name = #{studentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, age, student_name
    from t_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, age, student_name
    from t_student
  </select>
</mapper>